<ul rn-carousel rn-carousel-control class="image-responsive slideshow" >
  <li ng-repeat="image in propertyImages">
  <div class="thumbnail">
    <img src="{{image}}" class="image"></img>
    <a href="#">
      <h3>Casa {{$index}}</h3>
    </a>
      <p>$1{{$index}}0,000 | Godoy Cruz, Mendoza</p>
    </div>
  </li>
</ul>

<h3>Últimas Propiedades</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Ciudad</th>
        <th>Precio</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">Casa de 3 dormitorios a la venta</a></td>
        <td>Las Heras</td>
        <td>$100 000</td>
        <td><a href="#">Ver</a></td>
      </tr>
      <tr>
        <td><a href="#">Casa de 3 dormitorios a la venta</a></td>
        <td>Guaymallén</td>
        <td>$100 000</td>
        <td><a href="#">Ver</a></td>
      </tr>
      <tr>
        <td><a href="#">Casa de 3 dormitorios a la venta</a></td>
        <td>Maipú</td>
        <td>$100 000</td>
        <td><a href="#">Ver</a></td>
      </tr>
      <tr>
        <td><a href="#">Casa de 3 dormitorios a la venta</a></td>
        <td>Ciudad</td>
        <td>$100 000</td>
        <td><a href="#">Ver</a></td>
      </tr>
    </tbody>
  </table>
</div>
