<nav class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home"></span>
        Banco Inmobiliario
      </a>
    </div>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="">
        </div>
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li data-match-route="/registro"><a href="#/registro">Registro</a></li>
        <li data-match-route="/ingreso"><a href="#/ingreso">Ingreso</a></li>
      </ul>
  </div>
</nav>

<ul rn-carousel rn-carousel-control class="image-responsive slideshow" >
  <li ng-repeat="image in propertyImages">
    <div class="thumbnail">
      <img src="{{image}}" class="image"></img>
      <h3>Casa {{$index}}</h3>
      <p>$1{{$index}}0,000 | Godoy Cruz, Mendoza</p>
    </div>
  </li>
</ul>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4">
      <h3>Banco Inmobiliario</h3>
      <small>Frase banco inmobiliario</small>
    </div>
    <div class="col-md-5">
      <h3>Dirección</h3>
      <ul class="list-unstyled">
        <li><span class="glyphicon glyphicon-globe"></span>Espejo 115 - 2° B - Capital, Mendoza</li>
        <li><span class="glyphicon glyphicon-earphone"></span>Tel. (0261) 4293809</li>
        <li><span class="glyphicon glyphicon-phone"></span>Nextel. 686*4128</li>
        <li><span class="glyphicon glyphicon-phone"></span>Cel. (0261) 155 076199</li>
        <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:bancoinmobiliariomza@yahoo.com.ar">bancoinmobiliariomza@yahoo.com.ar</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>Compañía</h3>
      <a href="#/acerca-de-nosotros">Acerca de nosotros</a>
    </div>
  </div>
</div>
